
<div class="background-photo">
  <!-- <app-nav-bar /> -->
</div>
@if(isFetching()){
  <div class="d-flex justify-content-center m-5">
    <div class="spinner-border" role="status">
      <!-- <span class="sr-only">Loading...</span> -->
    </div>
  </div>
}@else {

  <header>
    <div class="overlay">
      <span>Accommodations</span>
  </div>
</header>

@for(item of rooms; track item.id){
  <div id="container">
  <div class="product-details">
    <div class="room-header"></div>
    <h1>{{ item.name }}</h1>
    <!-- <div>
      <span class="hint-star star">
        <mat-icon class="fa fa-star" aria-hidden="true">star</mat-icon>
        <mat-icon class="fa fa-star" aria-hidden="true">star</mat-icon>
        <mat-icon class="fa fa-star" aria-hidden="true">star</mat-icon>
        <mat-icon class="fa fa-star" aria-hidden="true">star</mat-icon>
        <mat-icon class="fa fa-star-o" aria-hidden="true">star</mat-icon>
      </span>
    </div> -->
    <p class="information">{{ item.description }}</p>
    <div class="control">
      <button class="btn">
        <span class="price">{{ item.price }}$</span>
        <span class="shopping-cart">
          <mat-icon>book</mat-icon>
        </span>
        <span class="buy" [routerLink]="['/page/book', item.id]">BOOK</span>
      </button>
    </div>
  </div>

  <div class="product-image">
    <img [src]="'data:image/jpeg;base64,' + item.image"  />

    <div class="info">
      <h2>Description</h2>
      <ul>
        <li><strong>Number of beds : </strong>{{ item.numberOfBeds }}</li>
        <li>
          <strong>Amenities : </strong>
          @for (item of item.amenities; track item) {
            <h6 class="text-line">{{ getAmenityName(item) }}</h6>
          }
        </li>
        <li><strong>Decoration: </strong>{{ item.description }}</li>
        <li><strong>Material: </strong>Eco-Friendly</li>
      </ul>
    </div>
  </div>
</div>
}
}
