@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  /* min-height: 75vh; */
  display: grid;
  place-items: center;
  background: #fff;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  padding-bottom: 2rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  gap: 10px;
}
.container > div {
  flex: 0 0 200px;
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
  position: relative;
  overflow: hidden;
}
.container > div:nth-of-type(1) {
  background: url("/assets/hotel-2.jpg") no-repeat 50% / cover;
}
.container > div:nth-of-type(2) {
  background: url("/assets/hotel-3.jpg") no-repeat 50% / cover;
}
.container > div:nth-of-type(3) {
  background: url("/assets/hotel-1.jpg") no-repeat 50% / cover;
}
.container > div:nth-of-type(4) {
  background: url("/assets/hotel-5.jpeg") no-repeat 50% / cover;
}
.container > div:nth-of-type(5) {
  background: url("/assets/hotel-4.jpg") no-repeat 50% / cover;
}
.container > div .content {
  font-size: 0.8rem;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 8px;
  opacity: 0;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  background: #02022e;
  background: cover;
  background: linear-gradient(
    0deg,
    rgba(2, 2, 46, 0.6755077031) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translatey(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
  visibility: hidden;
}
.container > div .content span {
  display: block;
  margin-top: 5px;
  font-size: 1rem;
}
.container > div:hover {
  flex: 0 0 250px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  transform: translatey(-30px);
}
.container > div:hover .content {
  opacity: 1;
  transform: translatey(0%);
  visibility: visible;
  background-size: cover;
}
.header-box {
  height: fit-content;
  padding: 2rem 0 2rem 2rem;
}

.header-main-text {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: 2px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: rgb(236, 201, 161);
  outline: none;
  text-align: center;
}

.header-main-text:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}
.secondary-text {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: rgb(136, 138, 137);
  letter-spacing: 0.5px;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  color: #fff;
  font-size: 1.2rem;
}
.button-get-all {
  background-color: #c2fbd7;
  height: fit-content;
  display: flex;
  align-self: center;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 0.9rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-get-all:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
