header {
    margin: 0;
    padding: 0;
    width: 98.78vw;
    height: 8vh;
  }
  .admin-button img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
  }
  
  .menu-tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e5e4e2;
    margin: 0;
    padding-top: 0.5rem;
    /* padding: 0; */
    /* padding: 0 1rem; */
  }
  .icon-box {
    display: flex;
    align-items: center;
  }
  .admin-button {
    display: flex;
    align-items: center;
    line-height: 0.3;
    cursor: pointer;
  }
  .admin-button p {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .admin-button span {
    font-size: 0.8rem;
    color: #575656b4;
    font-weight: 600;
  }
  .name-admin {
    display: flex;
    /* align-self: center; */
    padding-left: 0.6rem;
  }
  .primary-heading {
    font-size: 1.2rem;
    margin: 0 10rem 0 1rem;
    color: #3945f0;
    font-weight: 800;
  }
  
  .icon-box button {
    border: none;
    background-color: #e5e4e2;
  }
  