/* .background-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/room-wallpaper.jpg);
  background-size: cover;
  height: 8vh;
  width: auto;
} */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  height: fit-content;
}
.content h2{
  margin-bottom: 1rem;
  font-weight: 600;
  color: rgb(9, 25, 94);
}
.image {
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* width: fit-content; */
  max-width: 70vw;
  /* margin-bottom: 4rem; */
}
.text-room {
  padding: 1rem 1rem 0 1rem;
}
.image img {
  height: 65vh;
}
/* .position-booking-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-right: 3rem;
}
.position-booking-box img {
  height: 40vh;
  padding-right: 1rem;
} */
/* .booking-box {
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem 0 1rem 2rem;
  min-width: 30vw;
}
.booking-box h3 {
  padding-bottom: 2rem;
  color: gray;
}
.inputs {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.inputs input {
  padding: 0.6rem 0;
  border-radius: 9px;
}
.inputs label {
  font-size: 1rem;
  padding-bottom: 0.2rem;
} */
/* .button-book {
  padding: 1rem 5rem;
  border-radius: 35px;
  border: none;
  background-color: rgb(49, 105, 190);
} */

/* .button-book {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;

  touch-action: manipulation;
  width: 24vw;
  border-radius: 9px;
}

.button-book:after {
  content: "";
  background-color: #187edd;
  border-radius: 9px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-book:hover:after {
  top: 0px;
  left: 0px;
}
.text-line {
  color: #000000;
  font-weight: 500;
} */
/* .text-lines {
  color: #000000;
  font-weight: 600;
} */

.text-rooms {
  background-color: rgba(226, 158, 57, 0.603);
  padding-bottom: 1rem;
}
.book-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-now {
  padding-right: 2rem;
  color: rgba(190, 121, 16, 0.815);
  float: right;
  font-size: 1.4rem;
  font-weight: 600;
}
.padding {
  padding-left: 1rem;
}

.m-o {
  margin: 0 !important;
}
.btn-back{
  background-color: #fff;
  border: none
}
.alerts {
  position: fixed;
  bottom: 0;
  right: 2rem;
  width: 100%;
  background-color: #3f3d3d;
  color: #dadada;
  padding: 15px;
  text-align: center;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
  border-radius: 8px;

}
