@if (errorMessage) {
<div class="alert">
  {{ errorMessage }}
</div>
}
<div class="all-section">
  <div>
    <h1>Room</h1>
    <button class="new-button" (click)="onNewRoom()">
      Add <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="table-section">
    <table class="second-table">
      <thead class="head-table">
        <tr class="second-table-row head-row">
          <!-- <td class="second-table-head">Id</td> -->
          <td class="second-table-head">Name</td>
          <td class="second-table-head">Description</td>
          <!-- <td class="second-table-head">Image</td> -->
          <td class="second-table-head">Price</td>
          <td class="second-table-head">Bed's</td>
          <!-- <td class="second-table-head">GuesthouseId</td> -->
          <td class="second-table-head">Amenities</td>
          <td class="second-table-head">Details</td>
        </tr>
      </thead>
      <tbody>
        @for( room of rooms | slice: (page-1)*pageSize: page*pageSize; track
        room.id){

        <tr class="second-table-row">
          <!-- <td class="second-table-col">{{ room.id }}</td> -->
          <td class="second-table-col">{{ room.name }}</td>
          <td class="second-table-col">{{ room.description }}</td>
          <td class="second-table-col">{{ room.price }}$</td>
          <td class="second-table-col">{{ room.numberOfBeds }}</td>
          <!-- <td class="second-table-col">{{ room.guestHouseId }}</td> -->
          <td class="second-table-col">
            <div class="amenities">
              @for (item of room.amenities; track item) {
              <div class="amenity">{{ getAmenityName(item) }},</div>
              }
            </div>
          </td>
          <td class="second-table-col">
            <div class="buttons">
              <button class="first-button" (click)="onEdit(room)">
                <mat-icon class="icon">edit</mat-icon></button
              ><button class="second-button" (click)="onDelete(room.id)">
                <mat-icon class="icon">delete</mat-icon>
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
    />
  </div>
</div>
