<div class="backdrop">
  <div class="alert-box">
    <div class="to-end">
      <button class="btn " (click)="close()"><mat-icon>clear</mat-icon></button>
    </div>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="simple-form">
      <p>
        <label for="name">Name</label>
        <input type="text" id="title" name="name" formControlName="name" />
      </p>
      <p>
        <label for="description">Description</label>
        <textarea
          id="description"
          rows="5"
          name="description"
          formControlName="description"
        ></textarea>
      </p>
      <div class="buttons">
        <div>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
        
      </div>
    </form>
  </div>
</div>
