<header>
  <div class="menu-tab">
    <div class="text-details-box">
      <h2 class="primary-heading">BOOKING</h2>
    </div>
    <div class="icon-box">
      <button class="admin-button">
        @if(admin){
        <img src="/assets/default-profile-photo.png" />
        <div class="name-admin">
          <div>
            <p>Admin</p>
            <span>Admin</span>
          </div>
        </div>
        } @else {
        <span>Please log in</span>
        }
      </button>

      <button (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </div>
</header>
