/* .background-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/room-wallpaper.jpg);
  background-size: cover;
  height: 8vh;
  width: auto;
} */
header {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header span {
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  background-image: linear-gradient(
    rgba(31, 110, 103, 0.733),
    rgba(31, 119, 100, 0.733)
  );
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

header span:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out;
}

.details {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1abb9c;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.serviceBox {
  color: #f7fcfb;
  font-family: "Raleway", sans-serif;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 0;
  width: 30%;
  min-width: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 300px;
}

.serviceContent {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 100%;
}

.serviceBox .title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.serviceBox .description {
  color: #eeeaea;
  font-size: 15px;
  line-height: 25px;
  margin: 0 0 15px;
}

.details {
  text-decoration: none;
  color: #1abb9c;
  display: flex;
  align-items: center;
  justify-content: center;
}
