<div class="personal-details">
  <div class="table-details">
    <div class="main-header">
      <div class="header padding">
        <h3>Personal Details</h3>
        <span>Update your info and find out how it's used</span>
      </div>
      <div class="buttons">
        <button class="btn btn-primary" (click)="isEditing ? saveChanges() : toggleEdit()">
          {{ isEditing ? "Save" : "Edit" }}
        </button>
        <button class="btn btn-primary" (click)="onLogOut()">
         Log Out
        </button>
      </div>
    </div>
    <table>
      <tbody>
        <tr>
          <td>Name</td>
          @if(!isEditing){
            <td>{{ user.firstName }}</td>
          }@else {
            <td>
              <input [(ngModel)]="user.firstName" placeholder="First Name" />
            </td>

          }
        </tr>
        <tr>
          <td>Last Name</td>
          @if (!isEditing) {
            <td>{{ user.lastName }}</td>
          } @else{
            <td>
              <input [(ngModel)]="user.lastName" placeholder="Last Name" />
            </td>
          }
        </tr>
        <tr>
          <td>Email Address</td>
          @if (!isEditing) {
            <td>{{ user.email }}</td>
          }@else {
            <td>
              <input [(ngModel)]="user.email" placeholder="Email Address" />
            </td>
          }
        </tr>
        <tr>
          <td>Phone Number</td>
          @if(!isEditing){
          <td>{{ user.phoneNumber }}</td>
          }@else {
          <td>
            <input [(ngModel)]="user.phoneNumber" placeholder="Phone Number" />
          </td>
          }
        </tr>
      </tbody>
    </table>
  </div>
</div>