<div class="all-section">
  <div>
    <h1>Users</h1>
  </div>
  <div class="table-section">
    <table class="second-table">
      <thead class="head-table">
        <tr class="second-table-row head-row">
          <!-- <td class="second-table-head">User Id</td> -->
          <td class="second-table-head">Username</td>
          <!-- <td class="second-table-head">normalizedUserName</td> -->
          <td class="second-table-head">email</td>
          <!-- <td class="second-table-head">normalizedEmail</td> -->
          <!-- <td class="second-table-head">emailConfirmed</td> -->
          <!-- <td class="second-table-head">passwordHash</td> -->
          <!-- <td class="second-table-head">securityStamp</td> -->
          <!-- <td class="second-table-head">concurrencyStamp</td> -->
          <!-- <td class="second-table-head">phoneConfirmed</td> -->
          <!-- <td class="second-table-head">twoFactorEnabled</td> -->
          <!-- <td class="second-table-head">lockoutEnd</td> -->
          <!-- <td class="second-table-head">lockoutEnabled</td> -->
          <!-- <td class="second-table-head">accessFailedCount</td> -->
          <td class="second-table-head">firstName</td>
          <td class="second-table-head">lastName</td>
          <td class="second-table-head">phoneNumber</td>
          <td class="second-table-head">role</td>
        </tr>
      </thead>

      <tbody>
        @for( user of users | slice: (page-1)*pageSize: page*pageSize; track
        user.id){

        <tr class="second-table-row">
          <!-- <td class="second-table-col">{{ user.id }}</td> -->
          <td class="second-table-col">{{ user.userName }}</td>
          <!-- <td class="second-table-col">{{ user.normalizedUserName }}</td> -->
          <td class="second-table-col">{{ user.email }}</td>
          <!-- <td class="second-table-col">{{ user.normalizedEmail }}</td> -->
          <!-- <td class="second-table-col">{{ user.emailConfirmed }}</td> -->
          <!-- <td class="second-table-col">{{ user.passwordHash }}</td> -->
          <!-- <td class="second-table-col">{{ user.securityStamp }}</td> -->
          <!-- <td class="second-table-col">{{ user.concurrencyStamp }}</td> -->
          <!-- <td class="second-table-col">{{ user.phoneNumberConfirmed }}</td> -->
          <!-- <td class="second-table-col">{{ user.twoFactorEnabled }}</td> -->
          <!-- <td class="second-table-col">{{ user.lockoutEnd }}</td> -->
          <!-- <td class="second-table-col">{{ user.lockoutEnabled }}</td> -->
          <!-- <td class="second-table-col">{{ user.accessFailedCount }}</td> -->
          <td class="second-table-col">{{ user.firstName }}</td>
          <td class="second-table-col">{{ user.lastName }}</td>
          <td class="second-table-col">{{ user.phoneNumber }}</td>
          <td class="second-table-col">{{ user.role }}</td>
          <!-- <td class="second-table-col">{{ user }}</td> -->
          <td class="second-table-col"></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
    />
  </div>
</div>
