
<div>
  <div>
    <section>
      <div>
        <app-nav-bar></app-nav-bar>
      </div>
      <div >
        <app-main-page></app-main-page>
      </div>
      <div>
        <app-top-five></app-top-five>
      </div>
    </section>
  </div>
  
  <router-outlet></router-outlet>
</div>



<!-- <div class="guesthouses-box">
      @for (item of guestHouses; track item.id) {
          <div class="guesthouse-box">
              <p>{{ item.name }}</p>
              <p>{{ item.description }}</p>
              <button class="guesthouse-button" (click)="onClick(item.id)">
                  See all
              </button>
          </div>
      } -->
<!-- </div> -->
<!-- <div id="first-tab" class="carousel slide carousel-fade"> -->
<!-- <div class="carousel-inner"> -->
<!-- <div class="carousel-item active"> -->
<!-- <img src="..." class="d-block w-100" alt="..."> -->
<!-- <div class="d-block w-100"> -->
<!-- <div>
  <app-nav-bar></app-nav-bar>
</div>
        <div class="booking-tab">
          <app-main-page></app-main-page>
        </div> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="carousel-item">
  <div>
    <p>it workssss</p>
    <app-room-display />
  </div>
</div>
    <div class="carousel-item"> -->
<!-- <div class="body">
        <div class="container">
          <div>
            <div class="content">
              <h2>{{guestHouses[0].name}}</h2>
              <span>{{guestHouses[0].description}}</span>
            </div>
          </div>
          <div>
            <div class="content">
              <h2>{{guestHouses[1].name}}</h2>
              <span>{{guestHouses[1].description}}</span>
            </div>
          </div>
          <div>
            <div class="content">
              <h2>{{guestHouses[2].name}}</h2>
              <span>{{guestHouses[2].description}}</span>
            </div>
          </div>
          <div>
            <div class="content">
              <h2>{{guestHouses[3].name}}</h2>
              <span>{{guestHouses[0].description}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#first-tab"
    data-bs-slide="prev"
    >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#first-tab"
    data-bs-slide="next"
    >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
