/* section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url(/assets/hotel-photo.jpg);
  background-size: cover;
  height: 100vh;
  width: auto; */
/* display: flex;
  justify-content: center;
  align-items: center; */
/* } */
