<section>
  @if (errorMessage) {
  <app-alert-modal (close)="onHandleError()"></app-alert-modal>
  }
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Login</h2>

    <div class="control-row">
      <div class="control no-margin">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" />
      </div>

      <div class="control no-margin">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" />
      </div>

      <button class="button" [disabled]="form.invalid">Login</button>
      <div class="button-section">
        <div class="text">
          <p class="no-margin">
            If you haven't visited before this page please switch to Register
          </p>
        </div>
        <div>
          <button class="button" (click)="OnRegister()">Register</button>
        </div>
      </div>
    </div>
    <!-- @if(emailIsInvalid){
    <p class="control-error">Please enter a valid email address.</p>
    } @if(passwordIsInvalid){
    <p class="control-error">
      Please enter a valid password-(it MUST contain min 6 characters and at
      least one question mark).
    </p>
    } -->
  </form>
</section>
