.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    z-index: 50;
  }
  
  .alert-box {
    position: fixed;
    top: 35vh;
    left: 80vh;
    max-width: 30vw;
    height: fit-content;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    /* border-radius: 8px; */
  }
  
  .alert-box p {
    line-height: 1;
    padding: 1.6rem 1.6rem 0;
  }
  
  .alert-box-actions-end{
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .to-end{
    display: flex;
    justify-content: end;
    padding: 0;
    margin: 0;
    background-color: rgba(236, 235, 235, 0.274);
  }
  