<div class="backdrop" (click)="onClose()">
  <div class="alert-box">
    <div class="to-end">
      <button class="btn" (click)="onClose()">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <p>
      You've entered invalid credentials. Please check entered
      credentials. Your email or username might be already in use.
    </p>
    <div class="alert-box-actions alert-box-actions-end">
      <button class="btn btn-primary on-end-btn" (click)="onClose()">
        Close
      </button>
    </div>
  </div>
</div>
