<div class="wrapper">
  @if (errorMessage) {
  <app-register-modal (close)="onHandleError()"></app-register-modal>
  }
  <div class="inner">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3>New Account?</h3>
      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        <label for="username">Username</label>
        <input
          id="username"
          type="text"
          class="form-control"
          formControlName="Username"
        />
        @if(form.controls.Username.invalid && form.controls.Username.touched){
        <span class="alert-danger alert">This field is required</span>
        }
      </div>
      <div class="form-holder">
        <div class="row-input">
          <div class="row-input-first">
            <span class="lnr lnr-phone-handset"></span>
            <label for="firstName">First Name</label>
            <input
              id="firstName"
              type="text"
              class="form-control"
              formControlName="firstName"
              required
            />
            @if(form.controls.firstName.invalid &&
            form.controls.firstName.touched){
            <span class="alert-danger alert">This field is required</span>
            }
          </div>
          <div class="row-input-second">
            <span class="lnr lnr-phone-handset"></span>
            <label for="lastName">Last Name</label>
            <input
              id="lastName"
              type="text"
              class="form-control"
              formControlName="lastName"
              required
            />
            @if(form.controls.lastName.invalid &&
            form.controls.lastName.touched){
            <span class="alert-danger alert">This field is required</span>
            }
          </div>
        </div>
        <div>
          <span class="lnr lnr-phone-handset"></span>
          <label for="PhoneNumber">Phone Number</label>
          <input
            id="PhoneNumber"
            type="text"
            class="form-control"
            formControlName="PhoneNumber"
            required
          />
          @if(form.controls.PhoneNumber.invalid &&
          form.controls.PhoneNumber.touched){
          <span class="alert-danger alert">This field is required</span>
          }
        </div>
      </div>
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          email
          required
        />
        @if(form.controls.email.invalid && form.controls.email.touched){
        <span class="alert-danger alert">This field is required</span>
        }
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          class="form-control"
          formControlName="password"
          required
        />
        @if(form.controls.password.invalid && form.controls.password.touched){
        <span class="alert-danger alert"
          >Password must have 1 Uppercase, 1 Lowercase, 1 number, 1 non alphanumeric and at least 6 characters
        </span>
        }
      </div>

      <div class="button-container">
        <button (click)="onLogin()">
          <span>Back To Login</span>
        </button>
        <button>
          <span>Register</span>
        </button>
      </div>
    </form>
  </div>
</div>
