input,
textarea,
select,
button {
  font-family: "Muli-Regular";
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/hotel-photo.jpg);
  background-size: cover;
  height: 100vh;
}

.inner {
  width: 435px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 100%;
  border-radius: 15px;
  z-index: 9;
  padding: 20px 15px 15px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background: linear-gradient(0deg, rgb(238, 234, 234), #f6ffffe8);
  display: flex;
  flex-direction: column;
}

h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Muli-SemiBold";
  color: #241481;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 33px;
}

.form-holder {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-holder span {
  margin-top: -1.25rem;
  font-size: 15px;
  color: #333;
}

.form-control {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  width: 100%;
  height: 2rem;
  background-color: rgb(243, 243, 232);
  color: #666;
  font-family: "Muli-SemiBold";
  font-size: 16px;
}
.form-control::placeholder {
  font-size: 14px;
  font-family: "Muli-Regular";
  color: #999;
  transform: translateY(1px);
}
.form-control:focus {
  border-bottom: 1px solid #accffe;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Add space between the buttons */
  gap: 10px; /* Optional: Add some space between the buttons */
}

button {
  border: none;
  width: 100%;
  height: 49px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #99ccff;
  color: #fff;
  text-transform: uppercase;
  font-family: "Muli-SemiBold";
  font-size: 15px;
  letter-spacing: 2px;
  transition: all 0.5s;
  overflow: hidden;
  position: relative;
  flex: 1; /* Make buttons take equal space */
}

button span {
  position: relative;
  z-index: 2;
}

button::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgba(52, 152, 253, 0.25);
  transition: transform 0.3s cubic-bezier(0.75, 0, 0.125, 1);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  pointer-events: none;
}

button:hover::before {
  transform: translate(0, 0) scale(1);
}

.row-input {
  display: flex;
  align-items: center;
}
.row-input-first {
  margin-right: 1rem;
}
.alert-danger{
  padding: 0.2rem;
}
